<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>Arşivim</title>

    <!-- Bootstrap + Creative Studio main styles -->
    <link rel="stylesheet" th:href="@{/css/creative-studio.css}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

<!-- Page Navigation -->
<nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="index">
            <img src="../imgs/logo.png" alt="Demirilik Rental Car">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{loggedInPage}">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{queryCar}">Araç Sorgula</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{myCars}">Araçlarım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{archive}">Arşivim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{myAccount}">Hesabım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{index}">Çıkış Yap</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Of Page Navigation -->

<!-- Page Header -->
<header class="header">
    <div class="overlay">
        <h1 class="title">DEMİRİLİK RENTAL CAR</h1>
    </div>
</header>
<!-- End Of Page Header -->
<!-- Araçlarım -->
<section id="findCar">
    <h6 class="section-title mb-5 text-center">Arşivim</h6>
    <div class="container" id="carWrapper">

        <script>
            listele();
            function sil2(evt) {
                fetch('/car/deletePassiveCar?id=' + evt.currentTarget.param, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (response.ok) {
                            listele();
                            $('.alert').alert();
                        } else {
                            // Silme başarısız olduğunda yapılacak işlemler
                        }
                    })
                    .catch(error => {
                        // Hata durumunda yapılacak işlemler
                    });
            }

            function arsivdenCikar(evt) {
                const carId = event.target.param;
                fetch('/car/postCar?id=' + evt.currentTarget.param, {
                    method: 'POST'
                })
                    .then(response => {
                        if (response.ok) {
                            listele();
                            $('.alert').alert();
                        } else {
                            // Arşivden çıkarma başarısız olduğunda yapılacak işlemler
                        }
                    })
                    .catch(error => {
                        // Hata durumunda yapılacak işlemler
                    });
            }


            function listele(){

                const  carWrapper = document.getElementById("carWrapper");
                carWrapper.innerHTML = "";
                fetch('/car/getPassiveCarList', {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.length > 0) {
                            data.forEach(addCarItem);

                        }
                    })
                    .catch(error => {
                        // Hata durumunda yapılacak işlemler
                    });

            }



            function  addCarItem(item){
                const  carWrapper = document.getElementById("carWrapper");

                const  carBox = document.createElement("div");
                carBox.classList.add("row", "car__list-item");

                const  carBoxSm = document.createElement("div");
                carBoxSm.classList.add("col-sm-8", "col-md-12","car__list-item-inner");

                const  carImgBox = document.createElement("div");
                carImgBox.classList.add("image_wrap");

                const  aracImg = document.createElement("img");
                aracImg.alt="Arac";

                aracImg.src=item.imgURL;

                carImgBox.appendChild(aracImg);
                carBoxSm.appendChild(carImgBox);

                const  carDetail = document.createElement("div");
                carDetail.classList.add("text_wrap");


                const  carTitle = document.createElement("h5");
                carTitle.classList.add("title");
                carTitle.innerText = item.carOwner + " " + item.brand + " " + item.model;
                carDetail.appendChild(carTitle);

                const  carSubTitle = document.createElement("h6");
                carSubTitle.classList.add("text");
                carSubTitle.innerText = "Ekonomik";

                carDetail.appendChild(carSubTitle);


                const  carProperties = document.createElement("div");
                carProperties.classList.add("properties");

                const  carPropertiesItemGear = document.createElement("div");
                carPropertiesItemGear.classList.add("properties_item");

                const  carPropertiesItemGearIcon = document.createElement("i");
                carPropertiesItemGearIcon.classList.add("fa", "fa-gear")


                carPropertiesItemGear.appendChild(carPropertiesItemGearIcon);

                const  carPropertiesItemGearSpan = document.createElement("span");
                carPropertiesItemGearSpan.innerText= item.fuelType;

                carPropertiesItemGear.appendChild(carPropertiesItemGearSpan);

                carProperties.appendChild(carPropertiesItemGear);

                const  carPropertiesItemCapacity = document.createElement("div");
                carPropertiesItemCapacity.classList.add("properties_item");

                const  carPropertiesItemCapacityIcon = document.createElement("i");
                carPropertiesItemCapacityIcon.classList.add("fa","fa-capacity");

                carPropertiesItemCapacity.appendChild(carPropertiesItemCapacityIcon);

                const  carPropertiesItemCapacitySpan = document.createElement("span");
                carPropertiesItemCapacitySpan.innerText= item.capacity;

                carPropertiesItemCapacity.appendChild(carPropertiesItemCapacitySpan);

                carProperties.appendChild(carPropertiesItemCapacity);

                carDetail.appendChild(carProperties);

                const  carPrice = document.createElement("div");
                carPrice.classList.add("price_wrap");

                const  carPriceRow = document.createElement("div");
                carPriceRow.classList.add("price_row");

                const  carPriceItem = document.createElement("div");
                carPriceItem.classList.add("price_row-item");


                const  carPriceItemDetail = document.createElement("div");
                carPriceItemDetail.classList.add("price");

                const  carPriceCurrency = document.createElement("em");
                carPriceItemDetail.classList.add("price_type");
                carPriceItemDetail.innerText = "₺";

                carPriceItemDetail.appendChild(carPriceCurrency);
                const  carPriceSpan= document.createElement("span");
                carPriceSpan.innerText = item.amount ;

                const  carPriceI= document.createElement("i");
                carPriceI.innerText=".00";

                carPriceSpan.appendChild(carPriceI);
                carPriceItemDetail.appendChild(carPriceSpan);

                carPriceItem.appendChild(carPriceItemDetail);
                const  carPriceText = document.createElement("div");
                carPriceText.classList.add("price_text");
                carPriceText.innerText= "Günde";

                carPriceItem.appendChild(carPriceText);

                carPriceRow.appendChild(carPriceItem);


                const  carButtonRow = document.createElement("div");
                carButtonRow.classList.add("price_row");

                const  carActionButtonItem = document.createElement("div");
                carActionButtonItem.classList.add("price_row-item");

                const  archiveBtn = document.createElement("button");
                archiveBtn.classList.add("btn", "btn-warning","btn-sm");
                archiveBtn.type="button";
                archiveBtn.innerText="Arşivle";

                carActionButtonItem.appendChild(archiveBtn);

                carButtonRow.appendChild(carActionButtonItem);

                carPrice.appendChild(carPriceRow);
                carPrice.appendChild(carButtonRow);

                carBoxSm.appendChild(carDetail);
                carBoxSm.appendChild(carPrice);

                carBox.appendChild(carBoxSm);

                carWrapper.appendChild(carBox);


                const  unArchieveBtn = document.createElement("button");
                unArchieveBtn.classList.add("btn", "btn-success","btn-sm");
                unArchieveBtn.type="button";
                unArchieveBtn.innerText="Arşivden Çıkar";
                unArchieveBtn.addEventListener("click", arsivdenCikar ,false);
                unArchieveBtn.param= item.id;
                carActionButtonItem.appendChild(unArchieveBtn);

                carButtonRow.appendChild(carActionButtonItem);

                carPrice.appendChild(carPriceRow);
                carPrice.appendChild(carButtonRow);

                carBoxSm.appendChild(carDetail);
                carBoxSm.appendChild(carPrice);

                carBox.appendChild(carBoxSm);

                carWrapper.appendChild(carBox);


                const  deleteOnArchieveBtn = document.createElement("button");
                deleteOnArchieveBtn.classList.add("btn", "btn-primary","btn-sm");
                deleteOnArchieveBtn.type="button";
                deleteOnArchieveBtn.innerText="Arşivden Sil";
                deleteOnArchieveBtn.addEventListener("click", sil2 ,false);
                deleteOnArchieveBtn.param= item.id;
                carActionButtonItem.appendChild(deleteOnArchieveBtn);

                carPrice.appendChild(carPriceRow);
                carPrice.appendChild(carButtonRow);

                carBoxSm.appendChild(carDetail);
                carBoxSm.appendChild(carPrice);

                carBox.appendChild(carBoxSm);

                carWrapper.appendChild(carBox);


            }
        </script>




    </div>


</section>
<!-- Araç Sorgula -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <iframe width="100%" height="475" src="https://www.youtube.com/embed/TP4THzsAa3M" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- end of modal -->
<!-- Contact Section -->


<section class="has-bg-img py-0">
    <div class="container">
        <div class="footer">
            <div class="footer-lists">
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">HAKKIMIZDA</h6>
                    </li>
                    <li class="list-body">
                        <a href="index" class="logo">
                            <img src="imgs/logo.png" alt="Demirilik Rental Car Logo">
                            <h6>Demirilik Rental Car</h6>
                        </a>
                        <p>2022 Yılı itibariyle ilimiz Elazığ'da faaliyet göstermeye başlamış bulunmaktayız.</p>
                        <p class="mt-3">
                            Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" href="index.html">Demirilik Rental Car</a>
                        </p>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">USEFUL LINKS</h6>
                    </li>
                    <li class="list-body">
                        <div class="row">
                            <div class="col">
                                <a href="#about">About</a>
                                <a href="#service">Service</a>
                            </div>
                            <div class="col">
                                <a href="#team">Team</a>
                                <a href="#">Faq</a>
                                <a href="#">Privacy Policy</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">CONTACT INFO</h6>
                    </li>
                    <li class="list-body">
                        <p>Contact us and we'll get back to you within 24 hours.</p>
                        <p><i class="ti-location-pin"></i> 12345 Fake ST NoWhere AB Country</p>
                        <p><i class="ti-email"></i>  info@website.com</p>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Araç Sorgula -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <iframe width="100%" height="475" src="https://www.youtube.com/embed/TP4THzsAa3M" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- end of modal -->
<!-- Contact Section -->


<section class="has-bg-img py-0">
    <div class="container">
        <div class="footer">
            <div class="footer-lists">
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">HAKKIMIZDA</h6>
                    </li>
                    <li class="list-body">
                        <a href="index.html" class="logo">
                            <img src="../imgs/logo.png" alt="Demirilik Rental Car Logo">
                            <h6>Demirilik Rental Car</h6>
                        </a>
                        <p>2022 Yılı itibariyle ilimiz Elazığ'da faaliyet göstermeye başlamış bulunmaktayız.</p>
                        <p class="mt-3">
                            Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" href="index.html">Demirilik Rental Car</a>
                        </p>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">USEFUL LINKS</h6>
                    </li>
                    <li class="list-body">
                        <div class="row">
                            <div class="col">
                                <a href="#about">About</a>
                                <a href="#service">Service</a>
                            </div>
                            <div class="col">
                                <a href="#team">Team</a>
                                <a href="#">Faq</a>
                                <a href="#">Privacy Policy</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">CONTACT INFO</h6>
                    </li>
                    <li class="list-body">
                        <p>Contact us and we'll get back to you within 24 hours.</p>
                        <p><i class="ti-location-pin"></i> 12345 Fake ST NoWhere AB Country</p>
                        <p><i class="ti-email"></i>  info@website.com</p>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

<!-- bootstrap affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Creative Studio js -->
<script src="assets/js/creative-studio.js"></script>

</body>
</html>
