<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with Creative Studio landing page.">
  <meta name="author" content="Devcrud">
  <title>Change Password Company</title>

  <!-- Bootstrap + Creative Studio main styles -->
  <link rel="stylesheet" th:href="@{/css/creative-studio.css}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

<!-- Page Navigation -->
<nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="../imgs/logo.png" alt="Demirilik Rental Car">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{cars}">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{queryCar}">Araç Sorgula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{myCars}">Araçlarım</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{advertise}">İlan Ver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{archive}">Arşiv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{myAccount}">Hesabım</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{index}">Çıkış Yap</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Of Page Navigation -->

<!-- Page Header -->
<header class="header">
  <div class="overlay">
    <h1 class="title">DEMİRİLİK RENTAL CAR</h1>
  </div>
</header>
<!-- End Of Page Header -->
<section id="changeMyPassword" >
  <div class="container">
    <h6 class="section-title mb-5 text-left">Şifremi Değiştir</h6>
    <div class="row">
      <div class="col-sm-1 col-md-4">
        <div class="username">
          <label>Şirket Adınız :</label>
          <div class="form-group">
            <input type="text" id="username" placeholder="Şirket Adınız :">
          </div>
        </div>
        <br>
        <div class="changePassword">
          <label>Mevcut Şifre</label>
          <div class="form-group">
            <input type="password" id="password" placeholder="Mevcut Şifreniz :">
          </div>
        </div>
        <br>
        <div class="newPassword">
          <label>Yeni Şifre</label>
          <div class="form-group">
            <input type="password" id="newPassword" placeholder="Yeni Şifreniz :">
          </div>
        </div>
        <br>
        <div class="newPasswordAgain">
          <label>Yeni Şifre Tekrar</label>
          <div class="form-group">
            <input type="password" id="newPasswordAgain" placeholder="Yeni Şifre Tekrar : :">
          </div>
        </div>
        <div class="form-outline mb-4">
          <input type="checkbox" onclick="myFunction()"> Şifreyi Göster
          <script th:inline="javascript">
            function myFunction() {
              var x = document.getElementById("password");
              var y = document.getElementById("newPassword");
              var z= document.getElementById("newPasswordAgain");
              if (x.type === "password" && y.type==="password" && z.type==="password") {
                x.type = "text";
                y.type = "text";
                z.type = "text";
              } else {
                x.type = "password";
                y.type = "password";
                z.type = "password";
              }
            }
          </script>


          <script>
            // Şifre değiştirme işlemini gerçekleştiren fonksiyon
            function changePassword() {
              var username = document.getElementById("username").value;
              var password = document.getElementById("password").value;
              var newPassword = document.getElementById("newPassword").value;
              var newPasswordAgain = document.getElementById("newPasswordAgain").value;

              // Kullanıcı adı ve şifre alanlarının boş olup olmadığını kontrol etme
              if (username === "" || password === "" || newPassword === "" || newPasswordAgain === "") {
                alert("Lütfen tüm alanları doldurun.");
                return;
              }

              // Yeni şifrelerin eşleşip eşleşmediğini kontrol etme
              if (newPassword !== newPasswordAgain) {
                alert("Yeni şifreler eşleşmiyor.");
                return;
              }

              // Sunucuya istek yapma ve şifre değiştirme işlemini gerçekleştirme
              fetch('/register2/getCompanyRegister')
                      .then(response => response.json())
                      .then(data => {
                        var registeredUser = data.find(user => user.username === username && user.password === password);
                        if (registeredUser) {
                          // Kullanıcı adı ve mevcut şifre eşleştiğinde şifre güncelleme işlemi
                          fetch('/register2/putCompanyRegister', {
                            method: 'PUT',
                            body: JSON.stringify({ username: username, password: newPassword }),
                            headers: {
                              'Content-Type': 'application/json'
                            }
                          })
                                  .then(response => response.json())
                                  .then(data => {
                                    alert("Şifre başarıyla değiştirildi.");
                                    // Şifre değiştirildikten sonra formu sıfırlama
                                    document.getElementById("username").value = "";
                                    document.getElementById("password").value = "";
                                    document.getElementById("newPassword").value = "";
                                    document.getElementById("newPasswordAgain").value = "";
                                  })
                                  .catch(error => {
                                    console.error('Şifre değiştirme işlemi sırasında hata oluştu:', error);
                                  });
                        } else {
                          alert("Mevcut kullanıcı adı veya şifre yanlış.");
                        }
                      })
                      .catch(error => {
                        console.error('Kullanıcı bilgilerini alma işlemi sırasında hata oluştu:', error);
                      });
            }

            // Şifre göster/gizleme işlemini gerçekleştiren fonksiyon
            function togglePasswordVisibility() {
              var passwordInput = document.getElementById("password");
              var newPasswordInput = document.getElementById("newPassword");
              var newPasswordAgainInput = document.getElementById("newPasswordAgain");

              if (passwordInput.type === "password" && newPasswordInput.type === "password" && newPasswordAgainInput.type === "password") {
                passwordInput.type = "text";
                newPasswordInput.type = "text";
                newPasswordAgainInput.type = "text";
              } else {
                passwordInput.type = "password";
                newPasswordInput.type = "password";
                newPasswordAgainInput.type = "password";
              }
            }

            // Sıfırla butonuna tıklama olayını dinleyen fonksiyon
            function resetForm() {
              document.getElementById("username").value = "";
              document.getElementById("password").value = "";
              document.getElementById("newPassword").value = "";
              document.getElementById("newPasswordAgain").value = "";
            }

            // Şifreyi göster/gizle butonuna tıklama olayını dinleyen fonksiyonu ekleyin
            document.getElementById("showPasswordCheckbox").addEventListener("click", togglePasswordVisibility);

            // Sıfırla butonuna tıklama olayını dinleyen fonksiyonu ekleyin
            document.getElementById("resetButton").addEventListener("click", resetForm);

            // Şifremi Değiştir butonuna tıklama olayını dinleyen fonksiyonu ekleyin
            document.getElementById("changePasswordButton").addEventListener("click", changePassword);
          </script>

        </div>
        <div class="resetButton">
          <button type="button" class="btn btn-warning" id="resetButton">Sıfırla</button>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Araç Sorgula -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <iframe width="100%" height="475" src="https://www.youtube.com/embed/TP4THzsAa3M" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- end of modal -->
<!-- Contact Section -->


<section class="has-bg-img py-0">
  <div class="container">
    <div class="footer">
      <div class="footer-lists">
        <ul class="list">
          <li class="list-head">
            <h6 class="font-weight-bold">Hakkımızda</h6>
          </li>
          <li class="list-body">
            <a href="#" class="logo">
              <img src="imgs/logo.png" alt="Demirilik Rental Car Logo">
              <h6>Demirilik Rental Car</h6>
            </a>
            <p>2022 Yılı itibariyle ilimiz Elazığ'da faaliyet göstermeye başlamış bulunmaktayız.</p>
            <p class="mt-3">
              Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" href="index.html">Demirilik Rental Car</a>
            </p>
          </li>
        </ul>
        <ul class="list">
          <li class="list-head">
            <h6 class="font-weight-bold">Faydalı Linkler</h6>
          </li>
          <li class="list-body">
            <div class="row">
              <div class="col">
                <a href="#about">Hakkımızda</a>
              </div>
              <div class="col">
                <a href="#team">Ekibimiz</a>
                <a href="#">SSS</a>
                <a href="#">Gizlilik Politikası</a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="list">
          <li class="list-head">
            <h6 class="font-weight-bold">İletişim Bilgileri</h6>
          </li>
          <li class="list-body">
            <p>Bize Ulaşın 24 Saat İçinde Size Dönelim ! </p>
            <p><i class="ti-location-pin"></i> Elazığ / Merkez</p>
            <p><i class="ti-email"></i> www.demirilik.com</p>
            <div class="social-links">
              <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
              <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
              <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
              <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
              <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
              <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

<!-- bootstrap affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Creative Studio js -->
<script src="assets/js/creative-studio.js"></script>

</body>
</html>
