<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>Demirilik Rental Car</title>

    <!-- font icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Bootstrap + Creative Studio main styles -->
    <link rel="stylesheet" href="../css/creative-studio.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

<!-- Page Navigation -->
<nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../imgs/logo.png" alt="Demirilik Rental Car">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#home">Ana Sayfa</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#team">Ekibimiz</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#findCar">Araçlar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact">İletişim</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#about">Hakkımızda</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{login}">Giriş Yap (Müşteri)</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{companyLogin}">Giriş Yap (Şirket)</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{register}">Kayıt Ol (Müşteri)</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{companyRegister}">Kayıt Ol (Şirket)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Of Page Navigation -->

<!-- Page Header -->
<header class="header">
    <div class="overlay">
        <h6 class="subtitle">Araç Kiralamada Yeni Bir Devir</h6>
        <h1 class="title">DEMİRİLİK RENTAL CAR</h1>
        <div class="buttons text-center">
            <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">Bize Ulaşın</a>
        </div>
    </div>
</header>
<!-- End Of Page Header -->

<!-- Box -->
<div class="box text-center">
    <div class="box-item">
        <i class="fa fa-globe"></i>
        <h6 class="box-title">Web Sitemiz</h6>
        <p>Bize Ulaşabileceğiniz Mevcut Ve Tek Web Sitemizdir.</p>
    </div>
    <div class="box-item">
        <i class="fa fa-mobile"></i>
        <h6 class="box-title">Mobil Uygulamamız</h6>
        <p>Çok Yakında !</p>
    </div>
</div>
<!-- End of Box -->
<section id="findCar">
    <h6 class="section-title mb-5 text-center">Uygun Araçlar</h6>
    <div class="container" id="carWrapper">

        <script>
            listele();
            function sil(evt) {
                fetch('/car/deleteCar?id=' + evt.currentTarget.param, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (response.ok) {
                            listele();
                            $('.alert').alert();
                        } else {
                            // Silme başarısız olduğunda yapılacak işlemler
                        }
                    })
                    .catch(error => {
                        // Hata durumunda yapılacak işlemler
                    });
            }

            function listele(){

                const  carWrapper = document.getElementById("carWrapper");
                carWrapper.innerHTML = "";
                fetch('/car/getCarList', {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.length > 0) {
                            data.forEach(addCarItem);

                        }
                    })
                    .catch(error => {
                        // Hata durumunda yapılacak işlemler
                    });

            }


            function addCarItem(item) {
                const carWrapper = document.getElementById("carWrapper");

                const carBox = document.createElement("div");
                carBox.classList.add("row", "car__list-item");

                const carBoxSm = document.createElement("div");
                carBoxSm.classList.add("col-sm-8", "col-md-12", "car__list-item-inner");

                const carImgBox = document.createElement("div");
                carImgBox.classList.add("image_wrap");

                const aracImg = document.createElement("img");
                aracImg.alt = "Arac";
                aracImg.src = item.imgURL;

                carImgBox.appendChild(aracImg);
                carBoxSm.appendChild(carImgBox);

                const carDetail = document.createElement("div");
                carDetail.classList.add("text_wrap");

                const carTitle = document.createElement("h5");
                carTitle.classList.add("title");
                carTitle.innerText = item.carOwner + " " + item.brand + " " + item.model;
                carDetail.appendChild(carTitle);

                const carSubTitle = document.createElement("h6");
                carSubTitle.classList.add("text");
                carSubTitle.innerText = "Ekonomik";
                carDetail.appendChild(carSubTitle);

                const carProperties = document.createElement("div");
                carProperties.classList.add("properties");

                const carPropertiesItemGear = document.createElement("div");
                carPropertiesItemGear.classList.add("properties_item");

                const carPropertiesItemGearIcon = document.createElement("i");
                carPropertiesItemGearIcon.classList.add("fa", "fa-gear");
                carPropertiesItemGear.appendChild(carPropertiesItemGearIcon);

                const carPropertiesItemGearSpan = document.createElement("span");
                carPropertiesItemGearSpan.innerText = item.fuelType;
                carPropertiesItemGear.appendChild(carPropertiesItemGearSpan);

                carProperties.appendChild(carPropertiesItemGear);

                const carPropertiesItemCapacity = document.createElement("div");
                carPropertiesItemCapacity.classList.add("properties_item");

                const carPropertiesItemCapacityIcon = document.createElement("i");
                carPropertiesItemCapacityIcon.classList.add("fa", "fa-capacity");
                carPropertiesItemCapacity.appendChild(carPropertiesItemCapacityIcon);

                const carPropertiesItemCapacitySpan = document.createElement("span");
                carPropertiesItemCapacitySpan.innerText = item.capacity;
                carPropertiesItemCapacity.appendChild(carPropertiesItemCapacitySpan);

                carProperties.appendChild(carPropertiesItemCapacity);

                carDetail.appendChild(carProperties);

                const carPrice = document.createElement("div");
                carPrice.classList.add("price_wrap");

                const carPriceRow = document.createElement("div");
                carPriceRow.classList.add("price_row");

                const carPriceItem = document.createElement("div");
                carPriceItem.classList.add("price_row-item");

                const carPriceItemDetail = document.createElement("div");
                carPriceItemDetail.classList.add("price");

                const carPriceCurrency = document.createElement("em");
                carPriceItemDetail.classList.add("price_type");
                carPriceItemDetail.innerText = "₺";
                carPriceItemDetail.appendChild(carPriceCurrency);

                const carPriceSpan = document.createElement("span");
                carPriceSpan.innerText = item.amount;

                const carPriceI = document.createElement("i");
                carPriceI.innerText = ".00";
                carPriceSpan.appendChild(carPriceI);

                carPriceItemDetail.appendChild(carPriceSpan);
                carPriceItem.appendChild(carPriceItemDetail);

                const carPriceText = document.createElement("div");
                carPriceText.classList.add("price_text");
                carPriceText.innerText = "Günde";
                carPriceItem.appendChild(carPriceText);

                carPriceRow.appendChild(carPriceItem);

                const carButtonRow = document.createElement("div");
                carButtonRow.classList.add("price_row");

                const carActionButtonItem = document.createElement("div");
                carActionButtonItem.classList.add("price_row-item");

               /* const updateBtn = document.createElement("button");
                updateBtn.classList.add("btn", "btn-success", "btn-sm");
                updateBtn.type = "button";
                updateBtn.innerText = "Güncelle";
                updateBtn.addEventListener("click", function () {
                    alert("Lütfen giriş yapınız");
                });

                carActionButtonItem.appendChild(updateBtn);
*/
                const deleteBtn = document.createElement("button");
                deleteBtn.classList.add("btn", "btn-danger", "btn-sm");
                deleteBtn.type = "button";
                //deleteBtn.addEventListener("click", sil, false);
                deleteBtn.param = item.id;
                deleteBtn.innerText = "Kirala";
                deleteBtn.addEventListener("click", function () {
                    alert("Lütfen giriş yapınız");
                });

                carActionButtonItem.appendChild(deleteBtn);

                const archiveBtn = document.createElement("button");
                archiveBtn.classList.add("btn", "btn-warning", "btn-sm");
                archiveBtn.type = "button";
                archiveBtn.innerText = "Arşivle";
                archiveBtn.addEventListener("click", function () {
                    alert("Lütfen giriş yapınız");
                });

                carActionButtonItem.appendChild(archiveBtn);
                carButtonRow.appendChild(carActionButtonItem);

                carPrice.appendChild(carPriceRow);
                carPrice.appendChild(carButtonRow);

                carBoxSm.appendChild(carDetail);
                carBoxSm.appendChild(carPrice);

                carBox.appendChild(carBoxSm);

                carWrapper.appendChild(carBox);
            }
        </script>




    </div>


</section>
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-4">
                <img src="../imgs/logo.png" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page" class="w-100 img-thumbnail mb-3">
            </div>
            <div class="col-md-7 col-lg-8">
                <h6 class="section-subtitle mb-0">Biz Kimiz</h6>
                <h6 class="section-title mb-3">Hakkımızda</h6>
                <p>2023 yılında hizmet vermeye başladık</p>
                <p>Firmamız siz değerli müşterilerimize araç kiralama konusunda daha deneyimli hizmet vermeyi amaçlamaktadır. </p>
                <p>Şirket vizyonumuz siz değerli müşterilerimizin istekleri doğrultusunda sektöre uygun teknolojiler kullanarak daima daha ileri gitmeyi amaçlamaktadır.</p>
            </div>
        </div>
    </div>
</section>
<!-- End of About Section -->
<!-- About Section with bg -->
<section class="has-bg-img py-md">
    <div class="container text-center">
        <h6 class="section-subtitle">Görürüz</h6>
        <h6 class="section-title mb-6">Diğerlerinin Görmediğini</h6>
        <div class="widget mb-4">
            <div class="widget-item">
                <i class="fa fa-comments"></i>
                <h4>Plan</h4>
            </div>
            <div class="widget-item">
                <i class="fa fa-calendar"></i>
                <h4>Program</h4>
            </div>
            <div class="widget-item">
                <i class="fa fa-filter"></i>
                <h4>Yazılım</h4>
            </div>
            <div class="widget-item">
                <i class="fa fa-thumbs-up"></i>
                <h4>Memnuniyet</h4>
            </div>
        </div>
    </div>
</section>
<!-- End Of About Sectoin -->
<!-- Team Section -->
<section id="team">
    <div class="container">
        <h6 class="section-title mb-5 text-left">Ekibimiz</h6>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="card text-center mb-4">
                    <img class="card-img-top inset" src="../imgs/anil.jpeg">
                    <div class="card-body">
                        <h6 class="small text-primary font-weight-bold">Founder General Manager</h6>
                        <h5 class="card-title">Ahmet Anıl DEMİRYÜREK</h5>
                        <p>Yazılım Mühendisliği 4. Sınıf Öğrencisi
                            <br>Demirilik Rental Car Şirketinde General Manager.</p>
                        <div class="socials">
                            <a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a>
                            <a href="javascript:void(0)"><i class="fa fa-github"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card text-center mb-4">
                    <img class="card-img-top inset" src="../imgs/bedo.jpeg">
                    <div class="card-body">
                        <h6 class="small text-primary font-weight-bold">Founder General CEO</h6>
                        <h5 class="card-title">Mustafa Bedirhan İLİK</h5>
                        <p>Yazılım Mühendisliği 4. Sınıf Öğrencisi
                            <br>Demirilik Rental Car Şirketinde CEO.</p>
                        <div class="socials">
                            <a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a>
                            <a href="javascript:void(0)"><i class="fa fa-github"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- End of Team Sectoin -->

<!-- Fatcs Section -->
<section class="has-bg-img bg-img-2">
    <div class="container text-center">
        <h6 class="section-subtitle">Kendimizden Bahsedecek Olursak</h6>
        <h6 class="section-title mb-6">Takdirinizle</h6>
        <div class="widget-2">
            <div class="widget-item">
                <i class="ti-cup"></i>
                <h6 class="title">3</h6>
                <div class="subtitle">Website Ödülü</div>
            </div>
            <div class="widget-item">
                <i class="ti-face-smile"></i>
                <h6 class="title">400+</h6>
                <div class="subtitle">Mutlu Müşteri</div>
            </div>
            <div class="widget-item">
                <i class="ti-blackboard"></i>
                <h6 class="title">500+</h6>
                <div class="subtitle">Kiralanmış Araç</div>
            </div>
            <div class="widget-item">
                <i class="ti-comments-smiley"></i>
                <h6 class="title">5K+</h6>
                <div class="subtitle">Paylaşım</div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <iframe width="100%" height="475" src="https://www.youtube.com/embed/TP4THzsAa3M" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- end of modal -->
<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="contact-card">
            <div class="infos">
                <h6 class="section-subtitle">Buradan</h6>
                <h6 class="section-title mb-4">Bize Ulaşın</h6>

                <div class="item">
                    <i class="ti-location-pin"></i>
                    <div class="">
                        <h5>Konum</h5>
                        <p> Elazığ / Merkez</p>
                    </div>
                </div>
                <div class="item">
                    <i class="ti-mobile"></i>
                    <div>
                        <h5>Telefon</h5>
                        <p>0538 866 74 23</p>
                    </div>
                </div>
                <div class="item">
                    <i class="ti-email"></i>
                    <div class="mb-0">
                        <h5>E-Mail</h5>
                        <p>ilikmustafa03@gmail.com</p>
                    </div>
                </div>
                <div class="item">
                    <i class="ti-world"></i>
                    <div class="mb-0">
                        <h5>Web Sitemiz</h5>
                        <p>www.demirilik.com</p>
                    </div>
                </div>
            </div>
            <div class="form">
                <h6 class="section-subtitle">7/24</h6>
                <h6 class="section-title mb-4">Tek Tıkla Ulaşabilirsiniz</h6>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mailini Gir" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Şifre" required>
                    </div>
                    <div class="form-group">
                        <textarea name="contact-message" id="" cols="30" rows="7" class="form-control form-control-lg" placeholder="Mesaj"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Mesaj Gönder</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->

<section class="has-bg-img py-0">
    <div class="container">
        <div class="footer">
            <div class="footer-lists">
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">Hakkımızda</h6>
                    </li>
                    <li class="list-body">
                        <a href="#" class="logo">
                            <img src="../imgs/logo.png" alt="Demirilik Rental Car Logo">
                            <h6>Demirilik Rental Car</h6>
                        </a>
                        <p>2022 Yılı itibariyle ilimiz Elazığ'da faaliyet göstermeye başlamış bulunmaktayız.</p>
                        <p class="mt-3">
                            Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" href="index.html">Demirilik Rental Car</a>
                        </p>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">Faydalı Linkler</h6>
                    </li>
                    <li class="list-body">
                        <div class="row">
                            <div class="col">
                                <a href="#about">Hakkımızda</a>
                            </div>
                            <div class="col">
                                <a href="#team">Ekibimiz</a>
                                <a href="#">SSS</a>
                                <a href="#">Gizlilik Politikası</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">İletişim Bilgileri</h6>
                    </li>
                    <li class="list-body">
                        <p>Bize Ulaşın 24 Saat İçinde Size Dönelim ! </p>
                        <p><i class="ti-location-pin"></i> Elazığ / Merkez</p>
                        <p><i class="ti-email"></i> www.demirilik.com</p>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="fa fa-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="fa fa-pinterest"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="fa fa-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="fa fa-rss"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- core  -->
<script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

<!-- bootstrap affix -->
<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- Creative Studio js -->
<script src="assets/js/creative-studio.js"></script>

</body>
</html>